includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 8
    ignoreErrors:
        - '#React\\Async\\async#'
        - '#React\\Promise\\PromiseInterface#'
        - '#Trait .+ is used zero times#'
